@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap');

:root {
    --cor-de-fundo: #f5f5f5;
    --cor-do-texto: #000000b9;
    --cor-do-titulo: #333;
    --cor-texto-suave: #666;
    --tamanho-do-titulo: 36px;
    --tamanho-do-texto: 24px;
    --tamanho-letras-miudas: 12px;
    --fonte-texto: "Anonymous Pro", monospace;
    --fonte-titulo: 'Quicksand', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-texto);
    margin: 0;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.name-header {
    font-family: var(--fonte-titulo);
    font-size: 24px;
    color: #666;
    margin: 0;
    text-decoration: none;
    font-weight: 100;
}

.name-header:hover {
    color: var(--cor-do-titulo);
    transition: color 0.5s, transform 0.5s;
    transform: scale(1.01);
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.menu-list li {
    list-style: none;
    color: #666;  
    margin-right: 1em;  
}

.menu-list li:hover {
    color: var(--cor-do-texto);
    transition: color 0.5s, transform 0.5s;
    transform: scale(1.1);
}

.menu-list a {
    font-family: var(--fonte-titulo);
    text-decoration: none;
    color: #666;
    font-size: 22px;
    font-weight: 100;
}

.surprise,
.curriculo {
    font-family: var(--fonte-titulo);
    font-size: 22px;
    color: var(--cor-do-texto);
    margin: 1em 1em 1em 0;
    text-decoration: none;
    font-weight: 500;
}

.curriculo:hover,
.surprise:hover {
    color: var(--cor-do-titulo);
    transition: color 0.5s, transform 0.5s;
    transform: scale(1.01);
}

.main-content {
    width: 95%;
    margin: 3% auto;
}

.main-title {
    color: var(--cor-do-titulo);
    font-size: 80px; /* Tamanho do título */
    font-weight: 100;
    font-family: var(--fonte-titulo);
    margin: 0;
    text-align: left;
}

.main-text {
    font-size: var(--tamanho-do-texto);
    color: var(--cor-do-texto);
    font-family: var(--fonte-texto);
    width: 50%;
}

.gameover-text {
    font-size: var(--tamanho-letras-miudas);
    line-height: 0.2;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-suave);
}

/* section academica */

.academica-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 2em;
    gap: 5em;
}

.academica-image {
    width: 200px;
    height: 100px;
    margin-top: 1em;
}

.academica-title,
.academica-description {
    font-family: var(--fonte-titulo);
    font-size: 18px;
    color: var(--cor-do-titulo);
    margin: 1em 0;
    font-weight: 100;
}

.academica-title:hover,
.academica-description:hover {
    color: var(--cor-do-texto);
    transition: color 0.5s, transform 0.5s;
    transform: scale(1.1);
}

.academica-image:hover {
    transform: scale(1.1);
    transition: transform 0.5s, filter 0.5s;
    filter: brightness(60%);
}

.separator {
    background-color: #bebdbd;
    width: 90vw;
    margin-top: 3em;
}

/* skills */

.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 1em;
}

.skill-title {
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    font-size: 24px;
    color: var(--cor-do-titulo);
    margin-left: 1em; 
    font-weight: 400;
}

.skills-container {
    display: flex;
    gap: 20px; /* Gap between skills */
    align-items: center;
    margin-right: 20px;
}

.fa-brands,
.fa-solid {
    font-size: 2.5em;
    color: var(--cor-texto-suave);
}

.fa-brands:hover,
.fa-solid:hover {
    color: var(--cor-do-titulo);
    transition: color 0.5s;
}

.skill-name {
    color: var(--cor-texto-suave);
    font-family: var(--fonte-titulo);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.skill:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* section projetos */

.section-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    color: var(--cor-do-titulo);
    margin-bottom: 1em;
    font-weight: 400;
    margin: 1em 1em;
}

.swiper {
    width: 90%;
    height: 700px;
    margin: 60px auto;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 60%;
    height: 70%;
    border-radius: 15px;
    margin-bottom: 1em;
}

.project-info {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: var(--cor-do-texto);
    width: 60%;
    box-sizing: border-box;
    bottom: 0;
    border-radius: 15px;
    font-size: 30px;
    opacity: 0;
}

.swiper-slide-active .project-info {
    opacity: 1;
}

.project-title {
    font-size: 26px;
    font-family: var(--fonte-texto);
    color: #000000ee;
    margin-bottom: 10px;
}

.swiper-pagination {
    color: #000000ee;
}

.project-link {
    font-size: 16px;
    font-family: var(--fonte-texto);
    color: #000000ee;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project-link:hover {
    color: #8d8989;
    transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--cor-do-texto);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--cor-do-titulo);
    color: white;
}

/* contact */

.contact {
    display: flex;
    text-align: right;
    justify-content: space-between;
}

.contact-container {
    display: flex;
    margin: 2em;
    margin-left: 50%;
    gap: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
}

.form input,
.form textarea {
    width: 400px;
    border: none;
    border-bottom: 1px solid var(--cor-texto-suave);
    border-radius: 5px;
    font-family: var(--fonte-texto);
    font-size: 16px;
    padding: 0.5em;
}

.form textarea {
    height: 130px;
}

.form label {
    font-family: var(--fonte-titulo);
    font-size: 23px;
    color: var(--cor-do-titulo);
}

.form button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: var(--cor-do-texto);
    border: none;
    border-radius: 5px;
    font-family: var(--fonte-titulo);
    font-size: 25px;
    cursor: pointer;
}

.form button:hover {
    background-color: transparent;
    color: var(--cor-do-titulo);
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
    transform: scale(1.1);
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-do-texto);
    height: 50px;
    font-family: var(--fonte-titulo);
    font-size: 18px;
}

.fa-heart {
    color: rgba(41, 41, 41, 0.151);
    font-size: 18px;
}

.fa-heart:hover {
    color: var(--cor-do-titulo);
    transition: color 0.5s, transform 0.5s;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    body {
        width: 100vw;
    }

    .main-title {
        font-size: 40px;
        width: 80%;
    }

    .main-text {
        width: 100%;
    }

    .skills-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .skills-container {
        justify-content: flex-start;
    }

    .skill-title {
        margin: 0.5em 0 1em 0;
    }

    .projects-container {
        margin: 0 auto;
        display: block;
        width: 60%;
    }

    .contact-container {
        margin-left: 0;
    }

    .form {
        margin-left: 0;
    }

    .fa-brands {
        font-size: 3em;
    }

    .skills {
        display: block;
    }

    .skills-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .skill-title {
        margin: auto;
        text-align: center;
    }
}
